<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 100px;
        height: 100px;
        background: #ffd800;
        margin-right: 10px;
        float: left;
      }
      .box1 {
        width: 150px;
        height: 150px;
        background: red;
        border: 1px solid black;
      }
      .clearfix::after {
        content: "";
        clear: both;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="clearfix">
      <div class="box">박스1</div>
      <div class="box">박스2</div>
      <div class="box">박스3</div>
    </div>
    <div class="box1">박스4</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vero iste
      odio voluptas a nobis quaerat consectetur, sed fugiat voluptatum commodi
      velit, ipsum nostrum ex! Molestiae consectetur maxime autem dolorum!
    </p>
  </body>
</html>
