<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .left-ing {
        float: left;
        margin-right: 25px;
      }
    </style>
  </head>
  <body>
    <!-- float : 왼쪽이나 오른쪽으로 속성 배치하기 -->
    <img src="cover.jpg" alt="표지" class="left-ing" />
    <h1>바쁜 3,4학년을 위한 빠른 분수</h1>
    <h2>3, 4학년이 꼭 알아야 할 분수를 한 권에 모았어요</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
      vel nesciunt distinctio, recusandae repudiandae libero illo beatae, quod
      ipsa omnis, praesentium tempora ipsam veniam eum reiciendis numquam
      repellendus dolorum maiores?
    </p>
  </body>
</html>
