body {
  background: #222;
}
.grid {
  width: 500px;
  margin: 0 auto;
  background: white;
}
.grid-item {
  width: 100px;
  height: 100px;
  float: left;
}
.grid-item.a {
  background: orange;
}
.grid-item.b {
  background: orangered;
}
.grid-item.c {
  background: red;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
