<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트 제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          지방자치단체는 주민의 복리에 관한 사무를 처리하고 재산을 관리하며,
          법령의 범위안에서 자치에 관한 규정을 제정할 수 있다. 형사피고인은
          유죄의 판결이 확정될 때까지는 무죄로 추정된다. 모든 국민은 인간다운
          생활을 할 권리를 가진다. 국민의 자유와 권리는 헌법에 열거되지 아니한
          이유로 경시되지 아니한다.
        </p>

        <p>
          국회는 의장 1인과 부의장 2인을 선출한다. 이 헌법은 1988년 2월 25일부터
          시행한다. 다만, 이 헌법을 시행하기 위하여 필요한 법률의 제정·개정과 이
          헌법에 의한 대통령 및 국회의원의 선거 기타 이 헌법시행에 관한 준비는
          이 헌법시행 전에 할 수 있다. 국가는 농업 및 어업을 보호·육성하기
          위하여 농·어촌종합개발과 그 지원등 필요한 계획을 수립·시행하여야 한다.
        </p>
      </div>
      <div id="footer">
        <h2>푸터</h2>
        <ul>
          <li>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다.</li>
        </ul>
      </div>
    </div>
  </body>
</html>
