<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
      .box {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi explicabo
      eveniet facilis id quos vel obcaecati. Repudiandae voluptates, aliquam
      porro sapiente possimus adipisci? Earum rerum molestias natus esse,
      repudiandae quas repellendus corrupti voluptate quo nobis maiores ducimus
      dolor quis animi autem accusantium a unde vero. Sunt veritatis obcaecati
      debitis! Esse amet laborum, excepturi ratione quidem sunt! Inventore
      praesentium, assumenda reprehenderit cumque minima, sequi sint saepe minus
      natus illo reiciendis quibusdam similique vitae temporibus fugiat velit
      tenetur provident tempore ab! Hic consequatur reiciendis veritatis
      similique enim porro asperiores vel quidem distinctio est? Alias quasi,
      tempore illum magni nulla voluptatem obcaecati quidem, ut itaque eveniet
      perspiciatis architecto dolor aliquam. Porro fugit dolorem alias quae
      ducimus earum, vitae in inventore explicabo itaque placeat, qui rem
      exercitationem consequatur enim molestiae similique cum doloremque
      quisquam nulla excepturi incidunt. Sunt, similique quibusdam error omnis
      ab excepturi earum perspiciatis veritatis, consequatur sequi asperiores
      repudiandae, deleniti voluptatibus obcaecati! Minima tempora repellat
      error, sequi eius aperiam ex. Hic, laboriosam consectetur autem commodi at
      ratione doloremque maxime incidunt voluptatibus quasi quidem delectus
      deserunt alias officiis iure minima enim adipisci. Illo totam ipsam
      minima, ab at qui fugit eveniet ratione numquam, consequuntur perspiciatis
      doloribus molestiae quis facilis esse iste. Unde magni dolorem nemo
      numquam. Labore ea vitae sit. Atque incidunt in animi nam debitis cum
      perferendis impedit! Similique inventore pariatur tempora? Nesciunt
      adipisci laboriosam, rem tempore minus obcaecati repudiandae omnis, quasi
      quod dolor animi itaque placeat deleniti saepe corrupti debitis, voluptate
      natus eligendi. Aliquam, amet nemo vero quasi voluptatem earum sit dolor
      sunt similique deserunt tenetur ad voluptatum nobis. Nulla aliquid sint
      iusto hic iste. Porro explicabo expedita eum dolores in voluptatum laborum
      enim repudiandae dignissimos repellendus perferendis nulla, repellat
      molestias hic. Numquam ex repellat modi, molestiae dicta, blanditiis
      voluptatem, assumenda facilis at ut molestias. Quod omnis ipsum
      perferendis tempore cum dolor facilis quasi culpa impedit atque dolores,
      dignissimos fugiat enim nam deleniti quas possimus incidunt deserunt est
      sed neque soluta quam. Esse reprehenderit suscipit id omnis laudantium,
      sunt eaque dolorum quas nisi perspiciatis nulla veniam? Aut quod fugiat
      beatae, quis iusto nisi aspernatur, suscipit omnis tempore, praesentium
      porro eveniet voluptate rerum! Blanditiis possimus nostrum error
      provident, adipisci aperiam autem laboriosam asperiores porro quo libero
      excepturi quaerat labore illum vitae distinctio, doloremque vero modi
      velit. Dolorem illum laboriosam ea harum explicabo doloribus nobis quis.
      Possimus incidunt laborum sed laboriosam quae corporis placeat iste iusto
      provident. Animi fugit temporibus nihil possimus, quia perspiciatis
      perferendis vitae accusantium commodi corrupti error nobis, repudiandae
      praesentium et illum voluptate veniam ex consequatur magnam repellat unde
      iste at eveniet. Dolorem cupiditate quae, repudiandae non itaque iste
      possimus commodi placeat nisi cum reprehenderit sed quo! Suscipit
      laudantium ratione sequi harum cum nobis corrupti, soluta maxime,
      explicabo blanditiis ea, porro necessitatibus. Deleniti, sequi. Aliquam
      blanditiis neque dignissimos dicta veniam, consectetur eaque voluptas,
      natus velit nostrum, eius illo necessitatibus obcaecati atque ex est eos
      recusandae temporibus magni quidem? Minima aut ut ex quod totam quaerat
      quia doloribus assumenda alias a? Eveniet similique, repellendus id est
      aliquam enim fugit recusandae porro!
    </p>
  </body>
</html>
