<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        padding: 10px;
        position: relative;
      }
      .a {
        background: blue;
        left: 50px;
        top: 50px;
      }
      .b {
        background: red;
        left: 50px;
        top: 50px;
      }
    </style>
  </head>
  <body>
    <!-- 
      position:relative;

      위치 상 요소자신을 기준으로 배치
      다른 요소들은 해당 요소가 움직인 걸 모름 ==> 가상으로 움직인다
     -->
    <div class="box a">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <div class="box b">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam blanditiis
      veritatis rem ducimus sed eveniet deserunt adipisci, dolores minima nihil
      beatae rerum nisi obcaecati perferendis pariatur, ipsum nesciunt eaque
      non.
    </p>
  </body>
</html>
